body {
    font-family: 'Special Elite', cursive;
}

#img1 {
    width: 90%;
    height: 90%;
}

.hs {
    font-size: 200%;
    padding: 1%;
}

#hsd {
    width: 60%;
    border: 1px solid black;
    margin-bottom: 3%;
}

#lo {
    height: 1px;
    width: 100%;
    background-color: black;
}

#button {
    margin-bottom: 2%;
    font-size: 150%;
}

#img {
    width: 80%;
    height: 4=80%;
}

#img2 {
    width: 5%;
    margin-bottom: 3%;
}

#b1 {
    margin-bottom: 1%;
    width: 8.5%;
    height: 8.5%;
    border: 1px solid black;
    cursor: pointer;
}
#b2 {
    margin-bottom: 1%;
    width: 10%;
    height: 10%;
    border: 1px solid black;
    cursor: pointer;
}